.ruby-background-image1{
    padding-top:120px;
     
    background-image: url('img_rail/Rectangle\ 88\ \(2\).png');
    /* background-color: orange; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    /* clip-path: polygon(100% 0%, 0% 0% , 0% 52.04%, 1% 52.03%, 2% 52.01%, 3% 51.97%, 4% 51.91%, 5% 51.84%, 6% 51.76%, 7% 51.66%, 8% 51.55%, 9% 51.42%, 10% 51.28%, 11% 51.13%, 12% 50.96%, 13% 50.78%, 14% 50.58%, 15% 50.38%, 16% 50.16%, 17% 49.93%, 18% 49.69%, 19% 49.44%, 20% 49.18%, 21% 48.92%, 22% 48.64%, 23% 48.36%, 24% 48.07%, 25% 47.77%, 26% 47.47%, 27% 47.16%, 28% 46.85%, 29% 46.53%, 30% 46.21%, 31% 45.89%, 32% 45.57%, 33% 45.24%, 34% 44.92%, 35% 44.60%, 36% 44.28%, 37% 43.96%, 38% 43.64%, 39% 43.33%, 40% 43.02%, 41% 42.72%, 42% 42.42%, 43% 42.13%, 44% 41.85%, 45% 41.57%, 46% 41.31%, 47% 41.05%, 48% 40.80%, 49% 40.56%, 50% 40.33%, 51% 40.12%, 52% 39.91%, 53% 39.72%, 54% 39.54%, 55% 39.37%, 56% 39.21%, 57% 39.07%, 58% 38.94%, 59% 38.83%, 60% 38.73%, 61% 38.65%, 62% 38.58%, 63% 38.53%, 64% 38.49%, 65% 38.47%, 66% 38.46%, 67% 38.47%, 68% 38.49%, 69% 38.53%, 70% 38.59%, 71% 38.66%, 72% 38.74%, 73% 38.84%, 74% 38.95%, 75% 39.08%, 76% 39.22%, 77% 39.38%, 78% 39.54%, 79% 39.73%, 80% 39.92%, 81% 40.13%, 82% 40.34%, 83% 40.57%, 84% 40.81%, 85% 41.06%, 86% 41.32%, 87% 41.59%, 88% 41.87%, 89% 42.15%, 90% 42.44%, 91% 42.74%, 92% 43.04%, 93% 43.35%, 94% 43.66%, 95% 43.98%, 96% 44.30%, 97% 44.62%, 98% 44.94%, 99% 45.26%, 100% 45.58%);
    padding-bottom: 400px;; */

}
.top-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.bg_image6{
    background-image: url('img_rail/unions.png');
    background-repeat: no-repeat;
    background-size: 806px;
    background-position: right top 2px;
    /* transform: translate(-8px, 10px); */
    height: 826px;
}
.main{
    margin-top: -99px;
}

.imgs2{
    
width: 301px;
    
position: relative;
    
top: 155px;
    
left: 278px;
}
.imgs3{
    
width: 275px;
    
position: relative;
    
left: 417px;
    
top: 62px;
}
.imgs4{
    width: 216px;
    position: relative;
    top: 246px;
    left: -11px;
}
.imgs5{
    
width: 201px;
    
position: relative;
    
top: 436px;
    
left: -402px;
}
.imgs1{
    
width: 331px;
    
position: relative;
    
left: 709px;
    
top: -165px;
}
.inner_content p {
    width: 33%;
    position: relative;
    top: 284px;
    /* text-align: center; */
    left: 138px;
    font-size: 18px;
    font-weight: 500;
}
.buttton button{    border-radius: 53px;
    padding: 15px;
    font-size: 22px;
}

    .content_of_colum{
        width: 100%;
        /* border: 1px solid; */
        border-radius: 3px;
        padding: 10px;
        box-shadow: 0px 0px 6px  0.2px lightcoral;
        padding: 10px 20px;
        border-radius: 20px;
    }
    .content_of_colum p{
        width: 80%;
    }
    .trans{
        background: linear-gradient(81deg, rgba(106,52,175,1) 0%, rgba(255,0,116,0.908000700280112) 100%);
    }
    .par p{
        width: 40%;
        padding: 12px;
       
    }
    .par{
        display: flex;
        justify-content: center;
    }
    
    .content_of_services{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 82px;}
        .content2{
            background-image: url(img_rail/Ellipse\ 2\ \(2\).png);
            background-repeat: no-repeat;
            background-position: letcenter;
            background-size: 250px;
            background-position: right center;
            background-position-x: 647px;
            padding-bottom: 1px;
    }
        
      
    .service{
        text-align: center;
    }

    .content3{
        background-image: url(img_rail/Ellipse\ 2\ \(2\).png);
        background-repeat: no-repeat;
        background-position: letcenter;
        background-size: 250px;
        background-position: right center;
        background-position-x: 182px;
        padding: 27px 0px;
    }
    

    .content4{
        background-image: url(img_rail/Ellipse\ 2\ \(2\).png);
        background-repeat: no-repeat;
        background-position: letcenter;
        background-size: 250px;
        background-position: right center;
        background-position-x: 647px;
        background-position-y: 53px;
        /* padding: 3px; */
        margin-bottom: 22px;
        padding-top: 1px;
        padding-bottom: 92px;
    }
    .overlay_content{
        background:rgba(255,255,255, 0.3);
        padding: 150px;
    }
    .bg_image{
        background-image: url(img_rail/Union\ \(3\).png);
        background-position: left bottom;
        background-size: 500px;
        background-repeat: no-repeat;
    }
    .overlay{
        padding: 126px;
}
.overlay_content p{padding: 28px;}


.button button{
    border: none;
    border-radius: 71px;
    padding: 27px;
    font-size: 21px;
    color: white;
    background: linear-gradient(81deg, rgba(106,52,175,1) 0%, rgba(255,0,116,0.908000700280112) 100%);
}
